*{
    margin:0;
    margin:auto;
    padding:0;
    border:0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;  
}


/*------- ------*/
/*estilos header*/
/*------- ------*/

.flecha_arriba{
    width: 5px;
    height: 5px;
    position: fixed;
    bottom: 10%;
    right: 7em;
    cursor: pointer;
    z-index: 9999;
}

header #navegadorbox{
    place-content: flex-start;
}

#menuu, #menuu-check{
    display: none;
    
}

.header{
    background-color:#fae9dca8;
    position: sticky;
    top: 0;
    z-index: 9999;
}

#navegadorbox{
    color: #A34032;
    display:flex;
}

/*agrego hover*/



.menu {
    display:inline;
    list-style: none;
    margin: 0.3em 2em;
    color:#A34032}

#nav{
    display:flex;
    flex-wrap: wrap;
}
    
.menu :hover{
    color:#006769;
    transition: 0.2s ease;
}


.nav{
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    color:#A34032;
    font-size: 1.1em;
}



#menu-reserva {
    color: #A34032;
    position: relative;
}

#menu-reserva:hover{
    color: #006769;
    transition: 0.2s ease;
}

#menu-reserva:after {
    content: "";
    position:absolute;
    right:0;
    bottom:0;
    left:0;
    background-color:#00909B;
    height: 2px;
    width: 100%;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform 0.2s ease-in-out;
}

#menu-reserva:hover:after {
    transform-origin: left;
    transform: scaleX(1);
    transition: transform 0.2s ease-in-out;
}

#logo {
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left:12em;
    margin-right: 5em;
}







/*------- ---- -----*/
/*estilos main index*/
/*------- ---- -----*/
#herounit {
    background:  #000 url(./recursos/unit_Mesa\ de\ trabajo\ 1.jpg) no-repeat center top;
    background-size:cover;
    padding-bottom: 13vw;
}

#textounit {
    text-align: center;
    padding-top: 13%;
    max-width: 50%;/*marca lo responsive? nunca sobrepasa el 50% en diferentes tamaños*/
}

.zoom-in{                                        /*RECURSO */
    text-transform: uppercase;
    color:#ffffff;
    font-size: 4em;
    line-height: 1.2em;
    margin-bottom:0.2em;
    animation-name: zoomIn;
    animation-duration: 1s;
    animation-timing-function: ease;
}

@keyframes zoomIn {
    from {transform: scale(0);
        opacity: 0;}

    to {transform: scale(1);
        opacity: 1;}
}



#parrafounit {
    color: #FAE9DC;
    font-size: 1.5em;
    margin-bottom: 1.5em;
    font-weight: 500;
}

#boton-unit {
    color: white;
    text-transform: uppercase;
    padding: 0.8em;
    background-color:  #006769;
    text-align: center;
    border-radius: 25px;
}

#boton-unit:hover {
    color:#006769;
    background-color: #ffffff;
    transition: 0.2s ease;
}

#beneficios {
    background-color: #FAE9DC;
    padding-bottom: 3em
}

#tit-bene {
    color:#006769;
    text-align: center;
    padding: 1em;
    font-size: 1.8em
}

#razones {
    display:flex;
    max-width: 60%;
    text-align: center;
    font-size: 1.2em;
}

.beneficios {
    width: 25%;
    align-items: center;
}

.imagen-bene {
    position: relative;
    top: 0;
    transition: top ease 0.5s;
}

.invisible {
    opacity: 0;
    transform: scale(0);
    transition: all 0.5s ease-in-out;
}

.visible {
    opacity: 1;
    transform: scale(1);
}

.imagen-bene:hover {
    top:-10px;
}    

#sub-1 {
    color:#A34032;
    font-weight: 500;
}

#sub-2 {
    color:#006769;
    font-weight: 500;}

#sub-3 {
    color:#A34032;
    font-weight: 500;
}

#platos {background-color: #A34032;}

#tit-platos {
    color:#FAE9DC;
    padding:1em;
    font-size: 1.8em;
    text-align: center;
}

#propuesta1 {
    display:flex;
}

.imagen {
    background: #000 url(./recursos/pizzaa.jpg) no-repeat center top;
    width: 50%;
    height:700px;
    margin: 0;
}


.art1 {
    width: 20%;/*es ubicacion de la foto*/
    text-align: left;
}

.sub-comida {
    color: white;
    text-align: left;
    font-size: 2em;
    padding-bottom: 1em;
    font-variant: small-caps;
    font-weight: 700;
}

.par-comida {
    line-height: 2em;
    color:#FAE9DC;
    padding-bottom: 1em;
    text-align: left;
}

.enlace-comida {
    color: #00909B;
    font-size: 1.2em;
}

.lineaAbajo {color: white;
    position:relative}

.lineaAbajo:after {
    content: "";
    position:absolute;
    right:0;
    bottom:0;
    left:0;
    background-color:#00909B;
    height: 2px;
    width: 100%;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform 0.2s ease-in-out;
}

.lineaAbajo:hover:after {
    transform-origin: left;
    transform: scaleX(1);
    transition: transform 0.2s ease-in-out;
}

#propuesta-2 {
    display:flex;
    background-color: #002b2c;
}

#imagen-dos {
    background: #000 url(./recursos/tortilla.jpg) no-repeat center top;
    width: 50%;
    height:700px;
    margin: 0;
}
#imagen-dos-celular{
    width: 0;
    margin: 0;
}


#art-dos {width:20%}

#propuesta-tres {display:flex;}

#imagen-tres {
    background: #000 url(./recursos/mousse.jpg) no-repeat center top;
    width: 50%;
    height:700px;
    margin: 0;
}

#art-tres {width: 20%;}

/*------- ---- --------*/
/*estilos main bodegones*/
/*------- ---- --------*/

.main-bodegones{
    background-color: #A34032;
    color:#FAE9DC;
}

#h1-bodegones{  /*recurso2*/
    color:#fff;
    font-size: 1.8em;
    line-height: 1.2em;
    padding-bottom: 1em;
    text-align: center;
    padding: 1em;
    text-transform: uppercase;
}

#par-bodegones {
    max-width: 70%;
    padding-bottom: 2.5em;
}

.boton-bodegon {
    color:#006769;
    text-transform: uppercase;
    padding: 0.8em;
    background-color:#FAE9DC ;
    text-align: center;
    border-radius: 25px;
    margin-top:2em
}

.boton-bodegon:hover {
    color:#FAE9DC;
    background-color: #006769;
    transition: 0.2s ease;
}
/*AGREGO BOTON PARA "VOLVER"*/
#volver{
    height: 6em;
    background-color:#fae9dca8;
    display: flex;
}
.boton-bodegon1 {
    color:#fce7de;
    text-transform: uppercase;
    text-decoration: none;
    padding: 0.6em;
    background-color:#00909B ;
    text-align: center;
    border-radius: 25px;
    display: inline-flex;
    margin-top: 25px;
    justify-content: center;
    
    /* margin-top:2em; */
    
}
.boton-bodegon1:hover{
    transform: scale(0.75);
}

/*--------------------------*/


.texto-bod{padding-bottom: 3.5em;}



.propuesta{display: flex;}

.main-contacto{
    background-color: #9c705d;
}


#celeste {background-color:#002b2c;}

#azul {background-color: #002b2c;}

#img-1 {
    background: #000 url(./recursos/bodegon1.jpg) no-repeat center top;
    width: 50%;
    height:700px;
    margin: 0;
}

#img-2 {
    background: #000 url(./recursos/bodegon2.jpg) no-repeat center top;
    width: 50%;
    height:700px;
    margin: 0;
}

#img-3 {
    background: #000 url(./recursos/bodegon3.jpg) no-repeat center top;
    width: 50%;
    height:700px;
    margin: 0;
}

#img-4 {
    background: #000 url(./recursos/bodegon4.jpg) no-repeat center top;
    width: 50%;
    height:700px;
    margin: 0;
}

.h1-contacto{
    color:#fff;
    font-size: 1.8em;
    line-height: 1.2em;
    padding-bottom: 1em;
    text-align: center;
    text-transform: uppercase;
}

#botones {
    padding:1em;
    display: flex;
    justify-content: center;

}

.btn-enviar{
    color: white;
    text-transform: uppercase;
    font-weight: 700;
    font-family: poppins;
    padding: 1em 5em;
    margin:1em;
    font-size: 1em;
    background-color:  #006769;
    /*text-align: center;*/
    border-radius: 25px;
}

.btn-enviar:hover {
    color:#006769;
    background-color: #ffffff;
    transition: 0.4s ease;
}

.btn-limpiar{
    color: #006769;
    font-weight: 700;
    font-family: poppins;
    text-transform: uppercase;
    padding: 1em;
    margin: 1em;
    padding-left:3em;
    padding-right:3em;
    font-size: 1em;
    background-color:  #fff;
    /*text-align: center;*/
    border-radius: 25px;
}

.btn-limpiar:hover {
    color:#fff;
    background-color: #006769;
    transition: 0.4s ease;
}

.main-contacto {padding: 3em;}

form {
    width: 35%;
    background-color: #bb8d79;
    border-color:transparent;
    padding: 3em;
    border-radius: 2%;
    box-shadow: 0 1px 10px rgb(0 0 0 / 30%), 0 1px 2px rgb(0 0 0 / 35%);
}

.block {
    display:block;
    color: #002b2c;
    font-weight: 500;
}

.form {
    width:100%;
    background-color:#fce7de;
    padding:0.9em;
    border-radius: 3%;
    margin-bottom:1em;
    color:#191832;
    font-size:1em;
    font-family: 'poppins';
    box-shadow: 20 20px 10px black;
}


label {padding: 0.4em 0em;}

.sub-form {
    color:#FAE9DC;
    font-variant: small-caps;
    font-size: 1.7em;
}

.circle {
    color: #002b2c;
    font-weight: 500;
    padding: 2em 1em;
}

.circulo{
    padding:1em 0;
}

#encontranos {
    display: flex;
    padding-top: 4em;
    width: 60%;
}

.list-con {
    list-style: none;
    padding: 1em;
    font-variant: small-caps;
    font-weight: 600;
    font-size: 1.7em;
    color:white;
}

.hijo-list {
    color:#b92714;
    font-variant: normal;
    font-size: 0.7em;
}

iframe {
    width: 30em;
    height: 30em;
}

#mail {
    text-decoration: none;
    color:#b92714;
}



/*------- ------*/
/*estilos footer*/
/*------- ------*/

footer {
    background-color: #006769;
    color: white;
    text-align: center;
    padding-bottom: 2em;/*2*/
    
}


.fa-brands {color: white;
    padding: 0.7em;
    font-size: 2em;
}

.fa-brands:hover {
    color:#b92714;
    transition: 0.2s ease;
}
/*----------------- ESTILO NOSOTROS----------------------------*/

.nos{
    background-color:#A34032;
}



#img-1-nosotros {
    background: #000 url(./recursos/nosotros1.jpg) ;
    width: 50%;
    height:700px;
    margin: 0;
    
}

#img-2-nosotros {
    background: #000 url(./recursos/nosotros2.jpg) no-repeat center top;
    width: 50%;
    height:700px;
    margin: 0;
}

#img-3-nosotros {
    background: #000 url(./recursos/nosotros3.jpg) no-repeat center top;
    width: 50%;
    height:700px;
    margin: 0;
}

.colorr{background-color: #9c705d;}

#color {background-color: #002b2c;}

.primero{
    display:flex;
}

.carousel-item{height: 82vh;
color:#000;
}

.titulo-carrusel {text-transform: uppercase;
    color:#ffffff;
    font-size: 4em;
    line-height: 1.2em;
    margin-bottom:0.8em;
    font-family: 'Poppins', sans-serif; 
    font-weight: 700;
}



@media screen and (max-width:876px) {

    .zoom-in{font-size: 3.2em;}

    #navegadorbox{display:block;}

    #logo {
    padding: 1.5em;
    display:flex;
    margin:0;
    }

    #nav {
    display: flex;
    justify-content: center;}

    .menu{
        padding-bottom: 1em;
    }

    .header {
    position: relative;}

    #razones {
        max-width:100%
    }

    .art1{width:30%;}

    #art-dos{width:30%;
    }

    #art-tres {width:30%;}

    .imagen {
        background: #000 url(./recursos/pizzaTablet.jpg) no-repeat center top;
    }

    #imagen-dos {
        background: #000 url(./recursos/tortillaTablet.jpg) no-repeat center top;
    }

    #imagen-tres {
        background: #000 url(./recursos/mousseTablet.jpg) no-repeat center top;
    }

    iframe{
        width:22em;
        height: 22em;
    }

    #encontranos {
        width: 100%;
        display: block;
        text-align: center;
    }

    form{width: 70%;}

    #contacto{margin: 0;}

    .list-con{font-size: 1.7em;}

    .circle{padding: 0;}

}

@media screen and (max-width:584px){

    /*Menú hamburguesa */

    header h1{/* NO AFECTA */
        margin:0;
    }
    header h1 a{/* NO AFECTA */
        padding:0;
    }
    header #navegadorbox{
        display: flex;
        place-content: space-between;
    } 

    header h1{/* NO AFECTA */
        margin:0;
    }
    header h1 a{/* NO AFECTA */
        padding:0;
    }
    header #navegadorbox{
        display: flex;
        place-content: space-between;
    } 

    /*BOTONES EN LA BARRA NAVEGACION*/

    #menuu-check:not(:checked) ~ nav{
        display: none;

    }
    #menuu-check:checked ~ nav{
        display: block;

    }
    #menuu-abrir{
        color:#A34032;
    }
    #menuu-cerrar{
        color:#A34032;
        display: none;
    }
    #menuu{
        display: block;
        /* background-color: #A34032; */
        font-size: 1.2em;
        font-weight: bold;
        /* border:3px solid #9c705d;
        border-radius: 0.3em; */
        position: absolute;
        right:0.5em;
        top:2.5em;
        width: 50px;
        padding:3px;
        text-align: center;
        z-index: 1;
        
    }
    #menuu:hover{
        color:#A34032;
        /* background-color:#006769 ; */

    }
    #menuu-check:checked~label #menuu-abrir{
        display: none;
    }
    #menuu-check:checked~label #menuu-cerrar{
        display: block;
    }
            
    header #navegadorbox nav #opacidad{
        position: absolute;
        /* top:0; */
        /* margin: 5px; */
        right:0;
        height: 100%;
        /* background-color:rgb(0, 103, 105); */
        padding-top: 0.5em;
        padding-right: 1.5em;
        }


    header #navegadorbox nav ul, header #navegadorbox nav ul a{
        color:white;
        background: none;
        padding: auto;
        margin: 10px 25px  ;
        justify-content: center;
        
    }
    header #navegadorbox nav ul, header #navegadorbox nav ul li {
        display: block;
        text-align: center;
    }
    header #navegadorbox nav ul a:hover{
        color: #A34032;
    }

    #opacidad {
        display: none;
        width: 100%;
        
        position: absolute;
        top: 8em;
        left: 0;
        background-color:rgb(0, 103, 105);
        justify-content: center;
        align-items: center;
        z-index: 9999;
    }

    
/* Fin Menú hamburguesa */




    .header{
        max-width: 100%;
        position:relative;
    }

    #navegadorbox{
        display: block;
    }

    #nav{display:block}

    #logo{
        display: flex;
        align-items:center ;
        margin-left: 1.5em;
        padding: 1em;
    }

    .menu{
        display: inline-grid;
        margin:1em;
    }

    nav{text-align: center;}

    #herounit{padding-bottom: 25vw;}

    .zoom-in{font-size: 2.7em;
    padding: 0.3em;}

    #textounit{
        max-width: 100%;
        padding-top: 20%;
    }

    #parrafounit{
        max-width: 80%;
        color: #FAE9DC;
        font-size: 1.3em;
    }

    #razones {display:block}

    .beneficios{
        width: 100%;
        padding-bottom: 1.4em;
    }

    #sub-2 {font-size:1.05em}

    #sub-1 {font-size:1.05em}

    #sub-3 {font-size:1.05em}

    #tit-platos {
        font-size: 1.5em;
        padding: 1.3em;}

    #tit-bene{
        font-size: 1.5em;
        padding: 1.3em;
    }

    #propuesta1{display: block;}

    .art1{
        width: 80%;
        text-align: center;
        padding-bottom: 2em;
    }

    .par-comida{text-align: center}

    .sub-comida{
        font-size: 1.8em;
        text-align: center;
        padding-bottom:0.4em;
    }

    .imagen {
        background: #000 url(./recursos/pizzaCelular.jpg) no-repeat center top;
        width: 100%;
        height: 300px;
    }

    #propuesta-2{display: block;}

    #art-dos{
        width: 70%;
        padding: 2em 0;
    }

    .enlace-comida{
        text-align: center;
        justify-content: center;
        font-size: 1em;
        display: grid;}

    #imagen-dos{height: 0;}

    #imagen-dos-celular {
        background: #000 url(./recursos/tortillaCelular.jpg) no-repeat center top;
        width: 100%;
        height: 300px;
    }

    #propuesta-tres{display: block;}

    #art-tres{
        width: 100%;
        padding: 2em;
    }

    #imagen-tres {
        background: #000 url(./recursos/mousseCelular.jpg) no-repeat center top;
        width: 100%;
        height: 300px;
    }

    iframe{
        width:17em;
        height: 17em;
    }


    .list-con{
        font-size: 1.7em;
        text-align: center;
    }

    #encontranos {
        display: block;
        text-align: center;
    }

    form{
        width: 100%;
        padding: 1.5em;
    }

    .circle{margin:1em;}

    .btn-enviar{padding: 0.8em 2em}

    .flecha_arriba{display: none;}

}
@media screen and (max-width:1130px) and (min-width: 876px) {

    iframe{width:25em;
        height: 25em;}
    
    #encontranos {width: 100%;}

    form{width: 50%;}


}

