@media screen and (max-width: 657px){
    .primero{
        display: block;
    }
    #img-1-nosotros{
        background: #000 url(recursos/frutilla.jpg) no-repeat center top;
        height: 300px;
        width: 100%;
        margin: 0;
        padding: 0;
    }
    #img-2-nosotros{
        background: #000 url(recursos/madera.jpg) no-repeat center top;
        height: 300px;
        width: 100%;
        margin: 0;
        padding: 0;
    }
    #img-3-nosotros{
        background: #000 url(recursos/pasta.jpeg) no-repeat center top;
        height: 300px;
        width: 100%;
        margin: 0;
        padding: 0;
    }
}